<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="/dashboard"
                        ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard</a
                    >

                    <div class="sb-sidenav-menu-heading">View</div>
                    <a class="nav-link" href="/userlist"
                        ><div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Users</a
                    ><a class="nav-link" href="/role"
                        ><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Roles</a
                    >
                    <a class="nav-link" href="/leads"
                        ><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Lead List</a
                    >
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                {{session['email_ad']}}
            </div>
        </nav>
    </div>


