{% extends 'base.html' %}
{% block body %}
<div>
	<form class="mt-lg-5" method ="POST" action="/role_edit" autocomplete="off" >
		{{ form.hidden_tag() }}
		<fieldset class="form-group w-50">
			<div class ="form-group">
				{{ form.rolename.label(class="form-control-label") }}
                {{ form.rolename(class="form-control form-control-lg", value = ri_name[2:-2]) }}

			</div>
			<div class ="form-group">
				{{ form.roleid.label(class="form-control-label") }}
                {{ form.roleid(class="form-control form-control-lg" , value = ri_rid[1:]) }}
			</div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

		</fieldset>

	</form>

</div>


{% endblock %}