{% extends 'base.html' %}
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
	<form class="form-horizontal" role="form" method="POST" action="/user/password/{{code}}">
		<div class="row">
			<div class="col-sm-4">
				<h3>Set password for {{detail[0]['email']}}</h3>
			       <label>New Password</label>
	            <div class="form-group pass_show">
	                <input type="password" class="form-control" placeholder="New Password" name="password">
	            </div>
			       <label>Confirm Password</label>
	            <div class="form-group pass_show">
	                <input type="password" class="form-control" placeholder="Confirm Password">
	            </div>
	            <button class="btn btn-danger" name="bt">Submit</button>

			</div>
		</div>
	</form>
</div>
{% endblock %}