<!DOCTYPE html>
<html lang="en">
<head>
	<style type="text/css">
	  body{
  background: #F4F488;
}


</style>
    <meta charset="UTF-8">
    <h1> Set Password</h1>
</head>
<body>
	<div style="padding-top: 10px"> 
		<p >Thanks for creating an account on <a href="Springpeople.com">Spring People</a>.<br>
		If you are not aware of this then them kindly ignore.</p>
		

	</div >
	<hr>
	<div style="padding-top: 15px">
	<p style=" font-weight: bold;
		font-style: italic;"> Hello there, please click on the link given below to set a password</p>
	
		<a href = "http://127.0.0.1:5000/user/password/{{url_code}}">SET PASSWORD </a>
	</div>
	<hr>
	<div style = "padding: 15px">
	<img style =" width: 500px" src="https://d3gnpvjw8j16uq.cloudfront.net/assets/images/partners/5f4cb588eeb1ff6a40c66b31087486f4-springpeople.png" >
	</div>
</body>
</html>